{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>新規課題の登録</h1>
    {% from "_formhelpers.html" import render_field %}
        <form method="post" action="{{ url_for('new_task') }}" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.task_title) }}
            {{ render_field(form.task_content,rows=5,cols=60) }}
            {{ form.submit }}
        </form>
        <form method="get" action="{{ url_for('index') }}">
            <input type="submit" value="課題一覧に戻る" class="return_to_index">
        </form>
</div>
{%% endblock }

<!--
<!DOCTYPE html>
<html>
    <head>
        <title>New Task</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>新規課題の登録</h1>
            {% from "_formhelpers.html" import render_field %}
                <form method="post" action="{{ url_for('new_task') }}" novalidate>
                    {{ form.hidden_tag() }}
                    {{ render_field(form.task_title) }}
                    {{ render_field(form.task_content,rows=5,cols=60) }}
                    {{ form.submit }}
                </form>
                <form method="get" action="{{ url_for('index') }}">
                    <input type="submit" value="課題一覧に戻る" class="return_to_index">
                </form>
        </div>
    </body>
</html>
-->