{% extends 'base.html' %}

{% block content %}
    <h1>ユーザー登録</h1>
    {% from '_formhelpers.html' import render_field %}
        <form method="POST" action="{{ url_for('auth.register') }}" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <br>
            {{ form.submit }}
        </form>

        <p>
            既にアカウントをお持ちの方は
            <a href="{{ url_for('auth.login') }}">こちら</a>
            からログインしてください。
        </p>
{% endblock %}